{% extends "base.html" %}
{% load static %}

{% block link %}
        <link rel="stylesheet" href=" {% static 'css/button.css' %} ">
{% endblock %}


{% block content %}

    <div class="container">
    <div class="yh4rce-0 csPnTA">
        <div color="#4E342E" class="sc-13vwexf-0 iSXWKJ"><i class="bi bi-link custom-icon"></i>Enlaces</div>
        <a href="https://getbootstrap.com/docs/5.0/components/carousel/"><div color="#00CC88" class="sc-13vwexf-0 fVpbFI"><i class="bi bi-youtube custom-icon"></i> Youtube</div></a>
        <div color="#3F51B5" class="sc-13vwexf-0 jGmZdx"><i class="bi bi-laptop custom-icon"></i> Apis</div>
        <div color="#b71c1c" class="sc-13vwexf-0 GOjup"><i class="bi bi-book custom-icon"></i> Libros</div>
        <div color="#FFD54F" class="sc-13vwexf-0 bMFJxi"><i class="bi bi-controller custom-icon"></i> Juegos</div>
        <div color="#F9A70C" class="sc-13vwexf-0 KkMXr"><i class="bi bi-translate custom-icon"></i> Inglés</div>
        <div color="#9E9E9E" class="sc-13vwexf-0 hLjWgB"><i class="bi bi-camera-video custom-icon"></i> Meetups</div>
        <div color="#009688" class="sc-13vwexf-0 cbgFjS"><i class="bi bi-music-note custom-icon"></i> Tiktok</div>
    </div>
</div>

{% endblock %}