<footer class="footer">
    <div>
        <h2>Contacto</h2>
            <a href="#"><img src="imagenes/footer/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="imagenes/footer/instagram.png" alt="instagram"></a>
            <a href="#"><img src="imagenes/footer/linkedin.png" alt="Linkedin"></a>
            <a href="#"><img src="imagenes/footer/telegram.png" alt="Telegram"></a>
            <a href="#"><img src="imagenes/footer/twitter.png" alt="Twitter"></a>
        <p class="copyright">2021 - Todos los derechos reservados</p>
    </div>
</footer>