<nav id="menu">
    <div class="encabezado">
        <select>
            <option value="-">Selecciona Idioma</option>
            <option value="1">English</option>
            <option value="2">Español</option>
        </select>
    <br/>
    <a href="index.html"><img class="logo" id="inicio" src="imagenes/nav/logo.png" alt="Universal Programming" /></a>
    </div>
        <ul class="list-unstyled">
        <li><a href="index.html"><i class="bi bi-house-door"></i><span class="icon">Inicio</span></a></li>
        <li><a href="enlaces.html"><i class="bi bi-link"></i><span class="icon">Enlaces</span></a></li>
        <li><a href="youtube.html"><i class="bi bi-youtube"></i><span class="icon">Youtube</span></a></li>
        <li><a href="apis.html"><i class="bi bi-laptop"></i><span class="icon">Apis</span></a></li>
        <li><a href="libros.html"><i class="bi bi-book"></i><span class="icon">Libros</span></a></li>
        <li><a href="juegos.html"><i class="bi bi-controller"></i><span class="icon">Juegos</span></a></li>
        <li><a href="ingles.html"><i class="bi bi-translate"></i><span class="icon">Ingles</span></a></li>
        <li><a href="meetups.html"><i class="bi bi-camera-video"></i><span class="icon">Meetups</span></a></li>
        <li><a href="tiktok.html"><i class="bi bi-music-note"></i><span class="icon">TikTok</span></a></li>
    </ul>
</nav>
